<!DOCTYPE html>

<html lang="en">

<head>


<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">


<title>{{page.title}}</title>

	<!--js references-->
    <script src="{{site.url}}js/jquery.min.js"></script>
    <script src="{{site.url}}js/bootstrap.min.js"></script>
    <script src="{{site.url}}js/bootstrap_optins/tooltip.js"></script>
    <script src="{{site.url}}js/clock.js"></script>
    <script type="text/javascript" src="{{site.url}}js/datechooser/datechooser.js"></script>
    <!--css references-->
    <link rel="stylesheet" href="{{site.url}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.url}}css/clock.css">
    <link rel="stylesheet" href="{{site.url}}css/datechooser.css">

    <style>
	</style>

</head>

<body>
			<!--bof page panel-->
			<div class="panel panel-default">

			<!--<div class="panel-heading" style="text-align:center"><h4>THE TRINITY CLOCK</h4></div>-->


			<div class="panel-heading">

				<!--page header - logo and buttons-->
				<table style="width:100%">
				<tr>
				<td style="text-align:left;width:33%">
				<img src="{{site.url}}img/logo.png" style="width:150px;border:none;padding:3px"/>
				</td>
				<td style="text-align:center;width:33%">
				<h4>THE TRINITY CLOCK</h4>
				</td>
				<td>
					&nbsp;
				</td>
				<td style="text-align:right;width:33%">

					<button type="button" class="btn btn-default btn-lg" onclick="location.href='https://twitter.com/clockkeeper';"><span><img src="{{site.url}}img/twitter_button.png"></span></button>

					<button type="button" class="btn btn-default btn-lg" onclick="location.href='http://www.trin.cam.ac.uk';">Trinity Home Page</button>

				</td>
				</tr>
				</table>

			</div>


			<div class="panel-body" style="padding:20px">

			<br/>

			<table><tr><td style="vertical-align:top;width:200px">


					<!--bof info panel-->
					<div class="panel panel-default">

							<!--<div class="panel-heading">

								<h4>Please select an item below:</h4>

							</div>-->

							<!--bof info panel 1 body-->
							<div class="panel-body" >


								<table>

								<tr><td style="text-align:center">

									 <img src="{{site.url}}img/TCclock_closeup.JPG" style="border:none;width:200px;height:200px;border-radius:30px;-moz-border-radius:30px;-khtml-border-radius:30px;-webkit-border-radius:30px;" />

								</td></tr>


								<tr><td> &nbsp;
								</td></tr>

								<tr><td style="text-align:center">

									<div class="btn-group-vertical">

										<button class="btn btn-default" type="button" onclick="location.href='introduction'">Monitoring Project - Introduction</button>

										<button class="btn btn-default" type="button" onclick="location.href='history'">History of the Clock</button>

										<button class="btn btn-default" type="button" onclick="location.href='comments'">Clock Diary</button>

										<div class="btn-group">

											<button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											  Graphs
											  <span class="caret"></span>
											</button>

											<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
											  <li><a href="#" onclick="location.href='last30days'">Summary 30 Days</a></li>
											  <li><a href="#" onclick="location.href='daily'">Summary 1 Day</a></li>
											  <li><a href="#" onclick="location.href='data?from=-7days&to=today&channel=going&channel2=pressure&type=xy'">Going vs. Pressure</a></li>
											  <li><a href="#" onclick="location.href='data?from=-7days&to=today&channel=going&channel2=temp&type=xy'">Going vs. Temperature</a></li>
                                              <li><a href="#" onclick="location.href='data?from=-30days&channel=drift&channel2=temp&to=today&scale=auto&type=two'">Drift & temperature</a></li>
											  <li><a href="#" onclick="location.href='interesting'">Interesting Plots</a></li>
											  <li><a href="#" onclick="location.href='monitor'">Monitor</a></li>
											  <li><a href="tempodb/" target="_blank">TempoDB Graphs</a></li>
											</ul>

										</div>

										<button class="btn btn-default" type="button" onclick="location.href='instrumentation'">Instrumentation</button>

										<button class="btn btn-default" type="button" onclick="location.href='theory'">Theory</button>

										<button class="btn btn-default" type="button" onclick="location.href='escapement'">Escapement</button>

										<button class="btn btn-default" type="button" onclick="location.href='pigeons'">Pigeons</button>

										<button class="btn btn-default" type="button" onclick="location.href='temperature'">Temperature Compensator</button>

										<button class="btn btn-default" type="button" onclick="location.href='barometric'">Barometric Compensator</button>

										<button class="btn btn-default" type="button" onclick="location.href='photos'">Photos</button>

										<button class="btn btn-default" type="button" onclick="location.href='webcam'">Webcam</button>

										<button class="btn btn-default" type="button" onclick="location.href='talkspubs'">Talks and Publications</button>

										<button class="btn btn-default" type="button" onclick="location.href='credits'">Credits</button>

										<button class="btn btn-default" type="button" onclick="location.href='twitter'">Twitter</button>

										<button class="btn btn-default" type="button" onclick="location.href='keeper'">Keeper Of The Clock</button>

									</div>

								</td></tr>

								</table>


								<div style="float:left;padding:20px;font-size:10px">


									  <img src="{{site.url}}img/clock.gif" style="border:none;width:200px;border-radius:30px;-moz-border-radius:30px;-khtml-border-radius:30px;-webkit-border-radius:30px;" />

								</div>

								<div style="float:left;padding:20px;font-size:10px">


									  <img src="{{site.url}}img/gravity_escapement.gif" style="border:none;width:200px;border-radius:30px;-moz-border-radius:30px;-khtml-border-radius:30px;-webkit-border-radius:30px;" />


								</div>




							<!--eof info panel 1 body-->
							</div>



				   <!--eof info panel 1-->
				   </div>


				</td><td style="width:20px">&nbsp;</td><td style="vertical-align:top">

						<!--bof info panel 2-->
						<div class="panel panel-default">


						{{content}}



                        <!--eof info panel 2-->
                        </div>


				   </td></tr></table>


				   <br/>


				   <div style="text-align:center;font-size:10px">Trinity College, Cambridge 2014</div>




			 <!--eof page panel body-->
			</div>

            <!--eof page panel-->
			</div>


</body>

</html>
